<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdymalikmulky.masakah">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MasakAhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.ui.baking.list.BakingListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ui.baking.detail.BakingDetailActivity"
            android:label="@string/title_activity_baking_detail"
            android:parentActivityName=".app.ui.baking.list.BakingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdymalikmulky.masakah.app.ui.baking.list.BakingListActivity" />
        </activity>
        <activity
            android:name=".app.ui.baking.detail.step.BakingStepDetailActivity"
            android:label="@string/title_activity_step"
            android:parentActivityName=".app.ui.baking.detail.BakingDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdymalikmulky.masakah.app.ui.baking.detail.BakingDetailActivity" />
        </activity>

        <receiver android:name=".app.widget.MasakAhWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/masak_ah_widget_info" />
        </receiver>

        <activity android:name=".app.widget.baking.BakingWidgetConfigActivity"
            android:label="@string/title_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".app.widget.baking.UpdateWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

    </application>

</manifest>